:root {
  /* ===== Colors ===== */
  --body-color: #d7e0f7;
  --sidebar-color: #fff;
  --primary-color: #56baed;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.errorpage .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

.errorpage .underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #000;
  content: "";
  transition: width 0.2s;
}

.errorpage .underlineHover:hover {
  color: #000;
}

.errorpage .underlineHover:hover:after {
  width: 100%;
}

.errorpage h1 {
  text-align: center;
  font-size: 6em;
  text-transform: uppercase;
  display: inline-block;
  color: #000;
}

.errorpage p {
  font-size: 4em;
  color: #000;
  display: inline-block;
}

.errorpage a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
}
